<div class="login-outer">
    <div class="login-inner">
        <div class="app-title"><a routerLink="/quizapp"><img src="assets/images/appicon_64.png" style="width:50px;height:50px;border-radius: 7px;"/></a> {{app_name}}<small> ({{app_sub_name}})</small></div>
        <hr>
        <!-- <form [formGroup]="register_form" (ngSubmit)="Signup()">
            <span style="margin-left:90px;font-size: 25px;"><img src="assets/images/user1.png" style="width:50px;height:50px;border-radius: 17px;"/> Login</span>
            <table class="form-table-1">
                <tr><td class="td-label">User name</td><td class="td-text"><input type="text" class="form-control" formControlName="name" required/></td></tr>
                <tr><td class="td-label">Email</td><td class="td-text"><input type="email" class="form-control" formControlName="email" required/></td></tr>
                <tr><td class="td-label">Password</td><td class="td-text"><input type="password" class="form-control" formControlName="password" required/></td></tr>
                <tr><td class="td-label">Role</td><td class="td-text"><input type="radio" class="" formControlName="role" value="STUDENT" name="role"/>Student<input type="radio" class="" formControlName="role" value="TUTOR" name="role"/>Tutor</td></tr>

            </table>
            <span class="mt-5  ml-5"><input type="submit" class="btn btn-primary mr-5 ml-5" value="Signup"/><input type="reset" class="btn btn-primary" value="Cancel"/></span>
        </form> -->

        <form [formGroup]="register_form" (ngSubmit)="Signup()">
            <span style="margin-left:90px;font-size: 25px;"><img src="assets/images/user_60.png" style="width:50px;height:50px;border-radius: 17px;"/> Create account</span>
               

                <mat-form-field class="form-field-width">

                    <mat-label>User name</mat-label>
                    <input matInput type="text" formControlName="name" required>
                </mat-form-field>
                <mat-form-field class="form-field-width">
                    <mat-label>Email</mat-label>
                    <input matInput type="email" formControlName="email" required>
                </mat-form-field>
                <mat-form-field class="form-field-width">

                    <mat-label>Password</mat-label>
                    <input matInput type="password" formControlName="password" required>
                </mat-form-field>
              
                <label id="example-radio-group-label">Pick the user role</label>
                <br/>


                <mat-radio-group aria-label="Select an User" formControlName="role">

                    <mat-radio-button  value="STUDENT">Student </mat-radio-button>
                    <mat-radio-button class="ml-3" value="TUTOR">Tutor</mat-radio-button>
                  </mat-radio-group>

            <span class="mt-5  ml-5"><button mat-raised-button color="primary" type="submit" class="mr-5 ml-5">Signup</button><button mat-raised-button color="primary" type="reset" class="">Cancel</button></span>
        </form>
    </div>
</div>
