.class-rooms-outer{
  border-radius: 7px;
  // border-color: #004C99;
  
  border-style: none;
  margin-right:0px ;
  width:75%;
  height:550px;
  background-color: #000080	;
  overflow-y: scroll;
  position: absolute;
  right: 0px;
  color:white;
}

.class-rooms-inner{
  border-radius: 7px;
  // border-color: blue;
  margin-right:0px ;
  width:100%;
  height:99%;
 
  
}

.class-rooms-inner li{
  list-style: none;
  width:100%;
  margin-bottom: 5px;
  
}