/* You can add global styles to this file, and also import other style files */

 html,body {
height: 100%;
}
 
 .app-title{
     text-align: left;
 }

 

.studentbg-color {
    background-color: midnightblue	;
}
.tutorbg-color{
   // background-color: midnightblue;
   background-color: #191970		;
}

.btn_style_one{

    width:55px;
    height:17px
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
